<div>
  Link type
  <select [(ngModel)]="treeView.config.linkType">
    <option value="L">Lines</option>
    <option value="B">Blaizer</option>
    <option value="M">Cross</option>
  </select>
</div>
<div>
  Orientation
  <select
    [ngModel]="treeView.config.iRootOrientation"
    (ngModelChange)="treeView.config.iRootOrientation=$event;treeView.update()"
  >
    <option [ngValue]="Orientation.RO_TOP">Top</option>
    <option [ngValue]="Orientation.RO_BOTTOM">Bottom</option>
    <option [ngValue]="Orientation.RO_RIGHT">Rigth</option>
    <option [ngValue]="Orientation.RO_LEFT">Left</option>
  </select>
</div>

<tree-view #treeView [data]="data" [template]="treeTemplate" > 

</tree-view>
<ng-template #treeTemplate let-node>
  <div class="item" (click)="selectSlibingNodes(treeView,node)" [ngStyle]="node.isSelected?{'background-color':node.bc,color:node.c}:null">
  {{node.data.id}}
  </div>
</ng-template>
