<!-- <div>
  Link type
  <select [(ngModel)]="treeView.config.linkType">
    <option value="L">Lines</option>
    <option value="B">Blaizer</option>
    <option value="M">Cross</option>
  </select>
</div>
<div> -->
<!-- <ng-container *ngFor="let data of dataArray"> -->
<tree-view #treeView [data]="dataArray"  > 

</tree-view>
<!-- </ng-container> -->
<!-- <tree-view #treeView [data]="data2"  > 

</tree-view> -->
<!-- <ng-template #treeTemplate let-node>
  <div class="item" (click)="selectSlibingNodes(treeView2,node)" [ngStyle]="node.isSelected?{'background-color':node.bc,color:node.c}:null">
  {{node.data.id}}
  </div>
</ng-template> -->

