<div *ngFor="let tree of treeArray">
<div class="tree" *ngIf="tree.width && tree.height">
<div class="wrapper">
  <svg class="treeLink" [style.width]="tree.width+'px'" [style.height]="tree.height+'px'">
  <ng-container  *ngFor="let node of tree.nDatabaseNodes" >
    <ng-container *ngIf="node.isCollapsed" >
    <path *ngFor="let path of node._drawChildrenLinks(tree);let i=index" [attr.stroke]="'black'"
      [attr.d]="path" />
      </ng-container>
  </ng-container>
  </svg>
  <ng-container *ngFor="let node of tree.nDatabaseNodes;let i=index">
    <div *ngIf="hasChildren(node)" (click)="onClick(node,tree)"
      [ngStyle]="{position:'absolute',left:node.XPosition+'px',top:node.YPosition+'px',width:node.w+'px',height:node.h+'px',cursor:'pointer'}">
      <ng-container *ngTemplateOutlet="defaultTemplate;context:{$implicit:node}" ></ng-container>
    </div>
  </ng-container>
  <ng-container *ngFor="let node of tree.nDatabaseNodes;let i=index">
    <div *ngIf="!hasChildren(node) && node.isCollapsed" 
      [ngStyle]="{position:'absolute',left:node.XPosition+'px',top:node.YPosition+'px',width:node.w+'px',height:node.h+'px'}">
      <ng-container *ngTemplateOutlet="defaultTemplate;context:{$implicit:node}" ></ng-container>
    </div>
  </ng-container>
</div>
</div>
</div>
<ng-template #defaultTemplate let-node>
<div class="item" [ngStyle]="{'background-color':'white',color:'black',outline:'1px solid '}">
{{node.data.id}}
</div>
</ng-template>