<div class="tree" *ngIf="tree.width && tree.height">
<div class="wrapper">
  <svg class="treeLink" [style.width]="tree.width+'px'" [style.height]="tree.height+'px'">
  <ng-container *ngIf="expand">
    <ng-container *ngFor="let node of tree.nDatabaseNodes" >
    <path *ngFor="let path of node._drawChildrenLinks(tree);let i=index" [attr.stroke]="'black'"
      [attr.d]="!node._isAncestorCollapsed()?path:null" />
      </ng-container>
  </ng-container>
  </svg>
  <ng-container *ngFor="let node of tree.nDatabaseNodes;let i=index">
    <div *ngIf="!node._isAncestorCollapsed() && hasChildren(node)" (click)="onClick(node,tree)"
      [ngStyle]="{position:'absolute',left:node.XPosition+'px',top:node.YPosition+'px',width:node.w+'px',height:node.h+'px'}">
      <ng-container *ngTemplateOutlet="defaultTemplate;context:{$implicit:node}" ></ng-container>
    </div>
  </ng-container>
  <ng-container *ngFor="let node of tree.nDatabaseNodes;let i=index">
    <div *ngIf="!node._isAncestorCollapsed() && !hasChildren(node) && expand" 
      [ngStyle]="{position:'absolute',left:node.XPosition+'px',top:node.YPosition+'px',width:node.w+'px',height:node.h+'px'}">
      <ng-container *ngTemplateOutlet="defaultTemplate;context:{$implicit:node}" ></ng-container>
    </div>
  </ng-container>
</div>
</div>
<ng-template #defaultTemplate let-node>
<div class="item" [ngStyle]="{'background-color':'white',color:'black',outline:'1px solid '}">
{{node.data.id}}
</div>
</ng-template>